<div class="board">
    <table border>
        {% for row in grid %}
            <tr>
                {% for cell in row %}
                    <td width="50px" height="50px"><center>&nbsp; {{ cell }}&nbsp; </center></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>