<div class="controls">
    <table>
        {% for i in cols %}
            <tr>
                {% for j in cols %}
                    <td><a href="{{ path('play', {'row': i, 'col': j}) }}">*</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>