{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    {% include 'AppBundle:Board:board.html.twig' with grid %}

    end: {{ message }}<br/>
    <a href="{{ path('start', { cols: '3' }) }}">start</a>
{% endblock body %}

